body {
    background-color: #F5F6FA;
}

.Carte {
    flex-direction: row;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    vertical-align: middle;
    border: 1px solid #DADADA;
}

.texte {
    width: 50%;
    font-size: 14px;
    font-family: 'Open Sans normal';
    font-weight: bold;
}
    
.trash {
    width: 15px;
    height: 15px;
}

.avatar {
    width: 60px;
    height: 60px;;
}